/* ==========================================================================
   나의 skin
   ========================================================================== */

/* Colors */
$background-color: #ffff !default;
// #f3f6f6
$text-color: #0f0f0f !default;
$muted-text-color: #5c5c5c !default; //mix(#000000, #00ffaa, 75%)
$primary-color: #00ffae !default;
// #11999e
$border-color: #000000 !default;
//  mix(#fff, #7dd8ae, 75%) !default;
$footer-background-color: linear-gradient(#000000, #c2d9ff);
// linear-gradient(#190482, #C2D9FF) !default;
// #30e3ca#9EBECB#7296A4#97b197
$link-color: #000000 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #00ffa3 !important; // override
}

.page__footer-follow .social-icons i,
s .page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
