---
layout: archive
---

{{ content }}

{% if paginator %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

<div id="main" role="main">
  <!-- 사이드바 포함 -->
  {% include sidebar.html %}

  <!-- 포스트 리스트 -->
  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-container entries-{{ entries_layout }}">
    {% for post in posts %}
    {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
    {% endfor %}
  </div>

  <!-- 페이지네이션 -->
  {% include paginator.html %}
</div>