/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 2em;
  height: auto;
  width: auto;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: #8e8ffa;
  color: #fff;
  text-align: center;
  font-size: 14.5px;
  // height: 200%;
  // table-layout: fixed;
  // mix(#000, $border-color, 25%)
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-size-adjust: 16px;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid #c1bebe;
  border: 1px solid #fff;
}

td {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 2em;
  padding-left: 1em;
  border: 1px solid #c5c1c1;
  line-height: 1.5;
}

tr,
td,
th {
  vertical-align: middle;
}
